@import './global/global.css';
@import './home/home.css';
@import './filmes/filmes.css';
@import './combos/combos.css';
@import './secoes/secoes.css';

:root {
    --bg: #6639da;
    --title: #61bafc;
    --hover: #fda529;
    --gb_btn: #fda529;
    --menu_color: #fff;
}
