@import './global/global.css';
@import './home/home.css';
@import './filmes/filmes.css';
@import './combos/combos.css';
@import './programacao/programacao.css';
@import './slide/slide.css';

:root {
    --bg: #6639da;
    --title: #61bafc;
    --f_color: #16001e;
    --hover: #fda529;
    --btn: #fda529;
    --menu_color: #fff;
}
