.main {
    max-width: 1380px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.list_btn {
    padding: 40px 0;
}

.list_btn ul {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.list_btn ul li a {
    display: block;
    padding: 6px 16px;
    background: var(--btn);
    font-weight: 600;
    border-radius: 4px;
    color: var(--f_color);
    font-size: 18px;
    border: 2px solid transparent;
    transition: 0.3s;
    scale: 1;
}

.list_btn ul li a:hover {
    border: 2px solid var(--f_color);
    scale: 1.1;
    box-shadow: 5px 5px 1px var(--f_color);
}
