.copy {
    background: var(--bg);
    color: var(--menu_color);
    max-width: 1380px;
    margin: 0 auto;
}

.copy_container {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.socials {
    display: flex;
}

.socials a {
    border-radius: 100%;
    border: 2px solid transparent;
    padding: 2px;
    transition: 0.3s;
}

.socials a:hover {
    border: 2px solid var(--hover);
    scale: 1.1;
}

.socials a + a {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .copy_container .footer_logo {
        width: 140px;
        margin-left: 20px;
    }
    .copy_container .socials {
        margin-right: 10px;
    }
    .copy_container p {
        font-size: 12px;
        text-align: center;
    }
}
