.header {
    margin: 0 auto;
}

.bg_container_menu {
    background: var(--bg);
}

.menu_container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 14px;
}

.nav ul {
    display: flex;
    gap: 24px;
}

.nav ul a {
    display: inline-block;
    color: var(--menu_color);
    padding: 4px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: 0.3s;
}

.menu_ping {
    color: var(--hover);
    font-weight: bold;
}

.nav ul a:hover {
    color: var(--hover);
}

.nav ul a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    margin-top: 2px;
    transition: 0.5s;
}

.nav ul a:hover::after,
.nav ul a.att::after {
    background: var(--hover);
    width: 100%;
}

#btn_mobile {
    display: none;
}

@media (max-width: 768px) {
    .nav .menu_list {
        display: block !important;
        position: absolute;
        width: 100%;
        top: 62px;
        right: 0;
        background: var(--bg);
        display: block;
        z-index: 1000;
        height: 0;
        transition: 0.6s !important;
        text-align: center;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav.active .menu_list {
        height: calc(100vh - 70px);
        visibility: visible;
    }
    .nav .menu_list a {
        padding: 1rem 0;
        margin: 0 1rem;
        font-size: 24px;
    }

    #btn_mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburguer {
        color: var(--hover);
        border-top: 3px solid;
        width: 26px;
        display: block;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 26px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    .nav.active #hamburguer {
        border-top-color: transparent;
    }

    .nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    .nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
