main {
    max-width: 1380px;
    margin: 0 auto;
}

.cards_time {
    text-align: center;
    padding: 40px;
    background: var(--f_color);
}

.cards_time h2 {
    color: var(--menu_color);
}

.promotion_banner {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    color: var(--f_color);
}

.newsletter {
    max-width: 1380px;
    margin: 0 auto;
}

.newsletter h2 {
    text-align: center;
    padding-top: 60px;
}

.newsletter_form {
    display: flex;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: url('../../img/track.png');
    background-position: right;
    background-repeat: no-repeat;
}

.newsletter_form label {
    display: block;
    color: var(--f_color);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}
.newsletter_form input {
    width: 280px;
    padding: 8px 5px;
    font-size: 1rem;
    outline: none;
    border: 2px solid var(--f_color);
    border-radius: 4px;
    transition: 0.3s;
    display: inline-block;
}

.newsletter_form input:focus {
    box-shadow: 0px 0px 4px 2px var(--btn);
}

.newsletter_form .btn {
    position: relative;
    top: 14px;
    background-color: var(--btn);
    color: var(--f_color);
    border: 2px solid transparent;
    width: 120px;
    padding: 5px;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter_form .btn:hover,
.newsletter_form .btn:focus {
    border: 2px solid var(--f_color);
    scale: 1.1;
    box-shadow: 4px 4px 1px var(--f_color);
}

.cards {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
}

.list_cards {
    display: flex;
    gap: 40px;
    padding: 40px 20px 80px 20px;
    position: relative;
}

.list_cards li {
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px rgba(241, 242, 246, 0.2);
    transition: 0.5s;
}

.list_cards li:hover {
    scale: 1.1;
    transform: perspective(900px) translateY(-5%) rotateX(25deg);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.list_cards li img {
    max-height: 480px;
    min-height: 240px;
    object-fit: cover;
}

.caracter {
    max-height: 480px;
    min-height: 240px;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.list_cards li:hover .caracter {
    opacity: 1;
    z-index: 2;
    transform: translate3d(0%, -90%, 100px);
    filter: drop-shadow(10px 10px 1px #000);
}

.list_cards li:hover .card_b {
    filter: brightness(0.7);
}

@media (max-width: 768px) {
    .menu_container a img {
        width: 140px;
        margin-left: 20px;
    }
    .list_cards {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .list_cards .caracter {
        display: none;
    }
    .list_cards li:hover {
        transform: none;
        filter: none;
    }
    .list_cards li:hover .card_b {
        filter: none;
    }
    .cards_time {
        padding-top: 10px;
    }
    .cards_time h2 {
        font-size: 18px;
    }

    .list_cards li img {
        max-height: 220px;
        min-height: 240px;
        width: 180px;
        object-fit: cover;
    }
    .newsletter_form {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .newsletter h2 {
        font-size: 18px;
    }
    .newsletter_form label {
        font-size: 14px;
    }
    .newsletter_form input {
        font-size: 14px;
        padding: 6px 5px;
    }
    .newsletter_form .btn {
        width: 80px;
        padding: 5px;
        font-size: 14px;
    }

    .newsletter h2 {
        padding-top: 20px;
    }
    .copy_container .footer_logo {
        width: 140px;
        margin-left: 20px;
    }
    .copy_container .socials {
        margin-right: 10px;
    }
    .copy_container p {
        font-size: 12px;
        text-align: center;
    }
}

/* Scroll para o topo */

.moveTop {
    position: fixed;
    z-index: 1000000;
    bottom: 0;
    right: 0;
    width: 54px;
    height: 54px;
    cursor: pointer;
    margin: 20px;
    transition: 0.5s;
    animation: ani ease 1s alternate infinite;
}

.moveTop.ativo {
    opacity: 1;
}

@keyframes ani {
    0% {
        scale: 1.2;
    }
    100% {
        scale: 0.6;
    }
}
