@config "../tailwind.config.js";
@import "tailwindcss";

/* body {
  font-family: "Bebas Neue", sans-serif;
} */

:root {
  /* ── Roxos ── */
  --dark-bg: #0d0519;
  --purple-deep: #1a0a2e;
  --purple-mid: #2d1254;
  --purple-vivid: #6b21a8;
  --purple-light: #9333ea;

  /* ── Mostarda ── */
  --mustard: #d4a017;
  --mustard-light: #f0c040;
  --mustard-pale: #fef3c7;

  /* ── Neutros ── */
  --white: #f8f4ff;
  --gray: #a89bc2;
  --gray-dark: #5a4e72;

  /* ── Semânticas ── */
  --green: #22c55e;
  --red: #dc2626;

  /* ── Layout ── */
  --sidebar-w: 260px;
  --nav-h: 72px;
  --radius: 2px;
  --radius-lg: 4px;

  /* ── Fonts ── */
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

@layer base {
  body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.25;
    mix-blend-mode: overlay;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.05'/%3E%3C/svg%3E");
  }
}

@layer components {
  .link-underline {
    @apply relative pb-1;
  }

  .link-underline::after {
    content: "";
    @apply absolute left-0 bottom-0 h-[2px] w-full bg-mu origin-left scale-x-0 transition-transform;
  }

  .link-underline:hover::after {
    @apply scale-x-100 after:duration-300;
  }
}
