th,
td {
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 6px 6px;
    text-align: center;
}

.table_container {
    max-width: 1380px;
    margin: 0 auto;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 120px;
    border-collapse: collapse;
}

.table_body td {
    text-align: left;
    width: 20%;
}

.table_body tr:nth-child(odd) {
    background: rgba(156, 136, 255, 0.2);
}

@media (max-width: 768px) {
    .table_container {
        max-width: 90px;
    }
    th,
    td {
        font-size: 14px;
    }
}

/* MODAL ADD */

.modal_prog_container_add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 2000;
    visibility: hidden;
}

.modal_prog_container_add.ativo {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}
.form_prog_add.ativo {
    scale: 1;
}

.form_prog_add {
    color: var(--menu_color);
    border: 2px solid var(--f_color);
    border-radius: 6px;
    padding: 20px 18px;
    background-color: var(--bg);
    scale: 0;
    transition: 0.3s;
}

.modal_prog_container_add label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
}

.modal_prog_container_add select {
    display: block;
}

.modal_prog_container_add input,
.modal_prog_container_add select {
    padding: 6px 10px;
    width: 320px;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--f_color);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.modal_prog_container_add textarea {
    resize: none;
    font-family: 'Poppins';
    padding: 4px;
    outline: none;
    border: 2px solid var(--f_color);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.modal_prog_container_add input:focus,
.modal_prog_container_add select:focus,
.modal_prog_container_add textarea:focus {
    border: 2px solid var(--btn);
}

.modal_prog_container_add input::placeholder {
    font-size: 16px;
}

.form_prog_add button {
    background-color: var(--btn);
    color: var(--f_color);
    border: 2px solid transparent;
    width: 120px;
    padding: 5px;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.form_prog_add button:hover,
.form_prog_add button:focus {
    border: 2px solid var(--f_color);
    scale: 1.1;
    box-shadow: 4px 4px 1px var(--f_color);
}

/* MODAL EDIT */

.modal_prog_container_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 2000;
    visibility: hidden;
}

.modal_prog_container_edit.ativo {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.form_prog_edit.ativo {
    scale: 1;
}

.form_prog_edit {
    color: var(--menu_color);
    border: 2px solid var(--f_color);
    border-radius: 6px;
    padding: 20px 18px;
    background-color: var(--bg);
    scale: 0;
    transition: 0.3s;
}

.modal_prog_container_edit label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
}

.modal_prog_container_edit select {
    display: block;
}

.modal_prog_container_edit input,
.modal_prog_container_edit select {
    padding: 6px 10px;
    width: 320px;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--f_color);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.modal_prog_container_edit textarea {
    resize: none;
    font-family: 'Poppins';
    padding: 4px;
    outline: none;
    border: 2px solid var(--f_color);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.modal_prog_container_edit input:focus,
.modal_prog_container_edit select:focus,
.modal_prog_container_edit textarea:focus {
    border: 2px solid var(--btn);
}

.modal_prog_container_edit input::placeholder {
    font-size: 16px;
}

.form_prog_edit button {
    background-color: var(--btn);
    color: var(--f_color);
    border: 2px solid transparent;
    width: 120px;
    padding: 5px;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.form_prog_edit button:hover,
.form_prog_edit button:focus {
    border: 2px solid var(--f_color);
    scale: 1.1;
    box-shadow: 4px 4px 1px var(--f_color);
}

/* MODAL DELETE */

.modal_prog_container_delet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 2000;
    visibility: hidden;
}

.modal_prog_container_delet.ativo {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.form_prog_delet.ativo {
    scale: 1;
}

.form_prog_delet {
    color: var(--menu_color);
    border: 2px solid var(--f_color);
    border-radius: 6px;
    padding: 20px 18px;
    background-color: var(--bg);
    scale: 0;
    transition: 0.3s;
}

.modal_prog_container_delet label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
}

.modal_prog_container_delet select {
    display: block;
    padding: 6px 10px;
    width: 410px;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--f_color);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 6px;
    transition: 0.3s;
}

.modal_prog_container_delet select:focus {
    border: 2px solid var(--btn);
}

.form_prog_delet .delet_btn {
    background-color: var(--btn);
    color: var(--f_color);
    border: 2px solid transparent;
    width: 120px;
    padding: 5px;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.form_prog_delet .delet_btn:hover,
.form_prog_delet .delet_btn:focus {
    border: 2px solid var(--f_color);
    scale: 1.1;
    box-shadow: 4px 4px 1px var(--f_color);
}
